<p id="notice"><%= notice %></p>

<p>
  <b>Assunto:</b>
  <%= @notum.assunto %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @notum.conteudo %>
</p>


<%= link_to 'Edit', edit_notum_path(@notum) %> |
<%= link_to 'Back', nota_path %>
