<%= form_for(@pastum) do |f| %>
  <% if @pastum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pastum.errors.count, "error") %> prohibited this pastum from being saved:</h2>

      <ul>
      <% @pastum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
