<h1>Listing pasta</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pasta.each do |pastum| %>
  <tr>
    <td><%= pastum.name %></td>
    <td><%= link_to 'Show', pastum %></td>
    <td><%= link_to 'Edit', edit_pastum_path(pastum) %></td>
    <td><%= link_to 'Destroy', pastum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pastum', new_pastum_path %>
